* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(49, 0, 0, 0.9), #0a0a0a);
}

.navbar {
  width: 100%;
  height: auto;
  padding: 1.5rem 1.4rem 1.6rem 10rem;
}

.navbar img {
  width: 9rem;
  height: auto;
}

.line {
  height: 1px;
  background-color: rgb(56, 55, 55);
}

.user-input {
  width: 40%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  padding: 2rem;
}

.box1 h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}

.box1 p {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #c4c4c4;
  margin: 0.6rem 0 1.3rem 0;
}
.options span img {
  width: 1rem;
  background: none;
}

.options span {
  font-family: Helvetica, sans-serif;
}

.box2 {
    width: 94%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.box2 input {
  padding: 1.4rem 1rem 0.8rem 1rem;
  background-color: rgba(29, 28, 28, 0.7);
  color: white;
  border: 1px solid rgb(146, 139, 139);
  border-radius: 0.3rem;
  width: 99%;
  height: auto;
}

.box2 input::placeholder {
  font-size: 1rem;
  color: rgb(175, 169, 169);
  font-weight: 600;
}

.box2 input:focus {
  outline: 2.9px solid rgba(248, 233, 204, 0.9);
  outline-offset: 2px;
}

.box2 button {
  width: 99%;
  height: auto;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.1rem;
  color: white;
  font-weight: bolder;
  background-color: #ce0d0d;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}



.para {
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
}

.p1 {
  color: #a5a5a5;
  margin-top: 2rem;
}

.dropdown{
     margin-bottom: 2.9rem;
     display: flex;
     flex-direction: column;
     gap: 0.9rem;
   
}

.options{
    margin-bottom: 1rem;
    cursor: pointer;
}

.dropdown a {
    color: rgb(250, 242, 226);
    font-family:  Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    
}

.dropdown.hide{
  display: none;
}

.caret{
    cursor: pointer;
}
